.details_card{
    box-sizing: border-box;
    max-width: 450px;
    padding: 30px 20px;
    margin: 20px auto;
    border-radius: 3px;
    box-shadow: 0 0 5px grey;
}
.border{
    width: 100%;
    height: 5px;
    border-radius: 5px;
    background-image: linear-gradient(33deg,#9999ff,#ffff99,#ff9999,#99ff99);
}
.comments-div{
    position: relative;
    margin-bottom: 70px; 
}
.comment{
    position:absolute;
    top: 70px;
    background-color: lightgray;
    width:300px;
    padding: 5px;
    right: 10px;
    border-radius: 5px;
    font-size: 13px;
}